/* Set some basic styles for the entire page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Create a flex container for the columns */
.flex-container {
    display: flex;
    /*flex-direction: column;*/ /* axis column and row */
    /*flex-wrap: wrap;*/ /* Move elements at next row */ 
    justify-content: space-between; /* Distribute columns evenly */
    background-color: #e94444;
    /*align-items:last center;  Align in center elements */
    padding: 20px;
}

/* Style each column */
.column {
    flex: 1;  /*Equal width for all columns */
    background-color: #fff;
    border: 1px solid #ddd;
    text-align: justify;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box {
    background-color: #f2f2f2;
    width: 200px;
    padding: 20px;
    border: 5px solid #a7e7a7;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* CSS3 Box Shadow */
    border-radius: 10px; /* CSS3 Rounded Corners */
  }
  /* Different box-model properties for each box */
 
.box1 {
    order: 3;
    margin: 5px;
    border: 2px dashed #ccc;
    padding: 10px;
  }

  .box2 {
    order 1;
    margin: 15px;
    border: 4px dotted #aaa;
    padding: 15px;
  }

  .box3 {
    order: 2;
    margin: 20px;
    border: 6px double #888;
    padding: 20px;
  }