* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border;
}

.background-row {
	background-color: #ccc;
	border: 2px solid rgb(246, 182, 182);
	border-radius: 5px;
	color: #333;
}

.background-column {
	background-color: rgb(200, 209, 235);
	border: 2px solid white;
	border-radius: 5px;
}